body{
    margin: 0;
    font-family: 'Rosario';
}
.header{
    display: flex;
    height: 129px;       
    font-weight: 700;
    font-size: 36px;
    font-style: italic;
    position: sticky;
    top: 0;
    z-index: 2;
}
.header_logo{
    background-color: rgba(255, 252, 252, 1);
    padding-left: 5px;
}
.header_menu{
    width: 100vw;
    background-color: black;
    color: rgba(255, 252, 252, 1);
    display: flex;
    justify-content: right;    
}
.header_menu_links{
    margin-right: 30px;
    margin-top: 37px;
}
.page_gallary{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    height: 100vh;
    width: 100vw;
}
.left_picture{
    /*position: relative;*/
    
}
.left_picture > img{
    margin-top: 33%;      
    animation-name: left_sliding;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 0s;
}

@keyframes left_sliding{
    from{
        transition: all .5ms linear;
        transform: translateX(-800%);
    }
    to{
        transition: all 2s linear;
        transform: translateX(0);
    }
}
.left_pare_picture{
    margin-left: 3%;
    margin-right: .5%;
    animation-name: left_pare_sliding;
    animation-duration: 1s;
    animation-iteration-count: ;
    animation-delay: 0s;
    animation-timing-function: linear;
}
@keyframes left_pare_sliding{
    from{
        transition: all .5ms linear;
        transform: translateX(-300%);
    }
    to{
        transition: all 2s linear;
        transform: translateX(0);
    }
}
#first_line{
    margin-bottom: 8%;
}
.right_pare_picture{
    margin-right: 3%;
    margin-left: .5%;
    animation-name: right_pare_sliding;
    animation-duration: 1s;
    animation-iteration-count: ;
    animation-delay: 0s;
    animation-timing-function: linear;    
}
@keyframes right_pare_sliding{
    from{
        transition: all .5ms linear;
        transform: translateX(300%);
    }
    to{
        transition: all 2s linear;
        transform: translateX(0);
    }
}
.right_picture > img{
    margin-top: 33%;
    animation-name: right_sliding;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 0s;
}
@keyframes right_sliding{
    from{
        transition: all .5ms linear;
        transform: translateX(800%);
    }
    to{
        transition: all 2s linear;
        transform: translateX(0);
    }
}
.page_services{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content:space-between;
}
.circle{
    display: flex;
    width: 50%;    
    animation: img_block_rotation 5s infinite;
        
}
@keyframes img_block_rotation{
    from{        
    }
    to{
        transition-timing-function:linear;
        transition-duration: 5s;
        transition-property: all;        
        transform: rotateZ(360deg);
    }
}
.pic_pare{
    margin: 40px;
    width:min-content;
}
.hair_styling{
    margin-top: 20%;
    animation: img_rotation 5s infinite;    
}
@keyframes img_rotation{
    from{
    }    
    to{
        transition: all 5s linear;
        transform: rotateZ(-360deg);
    }
}
.service_title, .smooth_shave, .beard_trimming, .hair_straightening{
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    font-style: italic;    
}
.banner{
    width: 50%;
}
.banner > img{
    width: 100%;
    
}
