body{
    font-family: 'Inika', serif;
    font-weight: 700;
}
.header{
    text-align: center;
    height: 110px;
    color: #3E45E8;
    font-size: 54px;
    font-weight: 400;
    font-family: 'M PLUS 1', sans-serif;
}
.yellowtext{
    color: #E8C23E;
    width: 402px;
}
.central_banner{
    box-sizing: border-box;
    background-image: url("./images/image\ 1.png");
    height: 803px;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 15%;
    padding-left: 5%;
}
.central_banner_text{
    box-sizing: border-box;
    font-size: 48px;
    color: white;
    height: 439px;
    width: 80%;
    padding-left:3%;    
    background-image: url("./images/flag.png");    
    background-repeat: no-repeat;
    line-height: 70px;    
}
.main{
    padding: 0 80px;
}
.title_1{
    font-size: 40px;
    font-weight: 700;
    height: 160px;
    /*padding-left: 80px;
    padding-top: 72px;*/
    margin: 72px 80px;  
}
.line{
    border-bottom: 5px solid #3E45E8;
    width: 402px;
    margin: 20px 0;
}
.cards_block{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.card{
    /*border: 0px solid rgb(255, 255, 255);*/
    height: 470px;
    color: #1E8DF2;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    border-radius: 32px;
    box-shadow: 0px 4px 57px rgb(0 0 0 / 25%);
    margin-top: 20px;
       
}
.card_image{
    width: 100%;    
}
.card_title{
    font-size: 24px;
    padding: 10px;
    box-sizing: border-box;
    text-align: left;
}
.card_subtitle{
    font-size: 20px;
    color: #E8C23E;
    font-weight: 400;
    padding: 10px;
    box-sizing: border-box;
    text-align: left;
}
.card_margin{
    margin: 0 40px;
    margin-top: 20px;
}
.title_2{
    margin-top: 74px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.line_2{
    /*margin: 20px 0;*/
    margin-left: auto;
    margin-right: auto;
    /*margin: auto;*/
}
.lower_banner{
    margin-top: 41px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 41px;
    text-align: center;
}
.action_butom{
    background-color: #2A61F0;
    width: 591px;
    height: 121px;
    margin: auto;
}
.action_title{
    font-size: 64px;
    font-weight: 700;    
    padding: 20px 73px;    
}
a{
    /*outline: none;*/
    text-decoration: none;
    /*padding: 2px 1px 0;*/
}
  
a:link{
    color: #FFFFFF;
}
  
a:visited{
    color: #FFFFFF;
  }
  
/*a:focus{
    /*border-bottom: 1px solid;
    /*background: #2A61F0;
  }
*/
a:hover {
    /*border-bottom: 1px solid;*/
    /*background: #2A61F0;*/
    color: #E8C23E;
}
  
a:active{
    /*background: #265301;*/
    color: #2F4A4B;
}
.footer{
    height: auto;
    width: 100%;
    margin-top: 82%;
    background-color: #2F4A4B;
    text-align: center;
    color: #3E45E8;
    font-size: 54px;
    font-weight: 400;
    font-family: 'M PLUS 1', sans-serif;
}
.footer_title{
    padding-top: 10px;
}
.contacts{
    font-family: 'Marcellus SC', serif;
    font-size: 36px;
    font-weight: 400;
    color: #A89D9D;
    text-align: center;
    padding-top: 20px;
}
.hr{
    /*outline: none;*/
    text-decoration: none;
    /*padding: 2px 1px 0;*/
}  
.hr:link{
    color: #A89D9D;
}  
.hr:visited{
    color: #A89D9D;
}
.hr:hover {
    /*border-bottom: 1px solid;*/
    /*background: #2A61F0;*/
    color: #E8C23E;
} 
.hr:active{
    /*background: #265301;*/
    color: #2F4A4B;
}
.social{
    display: inline-block;
    vertical-align: top;
    padding-top: 20px;
}
.social:hover {
    padding-top: 10px;
}




    


