html{
    --black: #212529;
    --white: #FFFFFF;
    --yellow: #FFB742;
    --yellow_hover: rgba(255, 183, 66, 0.5);
    --black_light: #292B2E;
    --black_think: rgba(255, 255, 255, 0.08);
    --gray: rgba(123, 123, 123, 1);    
}
body{
    width:100%;
    margin: 0px;
    background-color: var(--black);
}
.top_menu_header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    color: var(--white);
    font-family: 'Poppins';
    font-size: 18px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 17px;      
}
.top_menu_logo{
    display: flex;
    align-items: center;
}
.top_menu{
    margin: 0px;
    padding: 0px;
    list-style: none;
    width: 430px;
    justify-content:space-evenly;   
    display: inline-flex;        
}
.top_menu_items{        
    font-weight: 600;          
}
.top_menu_items:hover{
    color: var(--yellow);
}
.button_yellow{    
    background-color: var(--yellow);
    width: 148px;
    height: 54px;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    align-items: center;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 18px;
    color: var(--black);    
}
.button_yellow:hover{
    color: var(--white);
}
/*.button_yellow_text{
    display: flex;    
    align-items: center;
    font-family: 'Poppins';
    font-weight: 700;
    color: var(--black);
}*/
.title{
    display:flexbox;
    margin-top: 108px;
    margin-left: 238px;
    margin-right: 238px;
    font-family: 'Inter';
    color: var(--white);
    text-align: center;
    vertical-align: middle;    
}
.greeting{
    
    font-size: 32px;
    font-weight: 700;
    height: 51px;
    height: fit-content;         
}
span{
    color: var(--yellow);
    border-bottom: solid 5px var(--yellow);
}
.profesion{
    font-size: 48px;
    font-weight: 700;    
    height: fit-content;
    margin-top: 20px;
    
}
.what_to_do{
    font-size: 24px;
    font-weight: 400;
    height: 51px;
    height: fit-content;
    margin-top: 50px;    
}
.avatar{
    margin-top: 22px;
    height: fit-content;
}
.cards{
    display: flex;
    justify-content: space-evenly;
    margin-top: 136px;
}
.card{
    width: 416px;
    height: 120px;
    display: flex;
    justify-content: space-between;    
    /*border: #FFFFFF solid 2px;*/
    background-color: var(--black_light);
    border-radius: 10px;
    align-items: center;    
}
.card:hover{
    background: linear-gradient(94.3deg, #FFB742 0%, rgba(255, 123, 66, 0.76) 99.33%);
}
.card:hover .card_text div{
    color: var(--black);
}
.card:hover #plus{
    color: var(--black);
}
.icon_card{
    display: flex;
    width: 64px;
    height: 64px;
    padding-left: 30px;
}
.card_text div{
text-align: center;
color: var(--white);
font-family: 'Inter';
font-size: 16px;
font-weight: 700;
}
#plus{
    color: var(--yellow);
    font-size: 32px;
}
.pointer{
    padding-right: 30px;
}
.block_1{
    display: flex;
    justify-content:space-between;
    margin-right: 50px;
    margin-top: 222px;    
}
.photo{
    margin-top: 34px;
}
.content_block_1{
    margin-left: 92px;
    margin-right: 51px;
}

.button_black{
    background-color: var(--black_think);
    width: 160px;
    height: 42px;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    align-items: center;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    color: var(--yellow);
}
.title_block{
    font-size: 48px;
    font-family: 'Roboto';
    font-weight: 700;
    color: var(--white);
}
.text_block{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: var(--white);
    margin-top: 29.5px;
    margin-bottom: 54.45px;
}
.block_2{
    display: flex;
    justify-content:space-between;
    margin: 50px;
    margin-top: 222px;
     
}
.content_block_2{
    padding-right: 97px;
}
.icons{
   display:flex;
}
.icons_soft{
    background-color: var(--black_light);
    margin: 7px;
    width: 48px;
    height: 48px;
    padding: 16px;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
}
.icons_soft:hover{
    background-color: var(--yellow_hover);
}
.block_central{
    margin: 50px;
    margin-top: 137px;
    text-align: center;    
}
.bb_position{
    display: flex;
    justify-content: center;
}
.central_block_menu{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 600;
    color: var(--white);
    margin-top: 35px;
}
.central_block_menu > ul:first-child{
    width: 700px;
    justify-content: space-evenly;
    display: inline-flex;
    list-style: none;
}
.central_block_menu_items{
    background-color: var(--black);
    padding: 5px 20px;
    border-radius: 3px;
    
}
.central_block_menu_items:hover{
    background-color: var(--yellow);
    padding: 5px 20px;
    border-radius: 3px;
    color: var(--black);
}
.block_galary{
    display: flex;
    justify-content: center;
}
.cbg{
    margin-top: 50px;
    margin-right: 15px;
    margin-left: 15px;
}
.cbg > div:first-child{
    margin-bottom: 30px;
}
.block_3_galary{
    display: flex;
    justify-content: center;
}
.b3g{
    margin-top: 90px;
    margin-right: 20px;
    margin-left: 20px;
}
.footer{
    background-color: #1C1C1C;
     display: flex;
    justify-content: space-around;
    margin-top: 253px;
    height: 410px;
}
.footer_column{
    color: var(--gray);
    font-family: 'Work Sans';
    font-size: 18px;
    font-weight: 500;
    margin-top: 148px;
}
.footer_title{
    font-family: 'Work Sans';
    font-size: 32px;
    font-weight: 700;
    color: var(--yellow);    
}
.footer_subtitle{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 600;
    color: var(--white);
    margin-top: 30px;
}
.footer_menu_title{
    color: var(--white);
    font-size: 21.5px;
    font-weight: 700;
}
.footer_menu{
    list-style: none;
    padding: 0px;
    margin-top: 25px;
}
.footer_menu_items{
    margin-top: 15px;
}
.footer_menu_items:hover{
    color: var(--yellow);
}
.footer_menu_content{
    margin-top: 25px;
}
.footer_menu_content:hover{
    color: var(--yellow);
}
