html{
    --background:#E5E5E5;
    --select:red;
    --check:rgba(255, 0, 255, 1);
    --button:#0050D8;
    --border:rgba(209, 209, 209, 1);
    --field_bg:rgba(173, 173, 173, 1);
    --text:#171717;
    --text_gray:#747474;
}
body{
    margin: 0;
    font-family: 'Public Sans';
    color:var(--text);
    background-color: var(--background);
}
form{
    min-width: 700px;
    max-width: 1000px;
    margin:0 auto;
}
.title{
    font-size: 24px;
    font-weight: 700;
    padding-top: 64px;
    padding-right: 43px;
    padding-left: 43px;
}
.mandatory{
    padding-top: 79px;
    padding-right: 43px;
    padding-left: 43px;
    font-size: 14px;
    font-weight: 400;
}
.subtitle{
    padding-top: 32px;
    padding-right: 43px;
    padding-left: 43px;
    font-size: 20px;
    font-weight: 700;
}
.margins{    
    margin-right: 43px;
    margin-left: 43px;  
    margin-top: 32px; 
}
.fields{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--border) ;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 19px;
               
}
.column{
    width: 47%;
}
label{
    display: block;
    margin-bottom: 8px;
}
span{
    color: var(--select);
}
input{
    width: 100%;
    height: 40px;
}
select{
    width: 106%;
    height: 46px;       
}
input, select{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 21px;
    border: 2px solid var(--border);
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
}
select[id = "app_reg"]{
    color: var(--button);
}
input[type="search"]{    
    padding-left: 15px;
    width: 106%;
    height: 46px;    
    background-image: url(./images/finder.svg);
    background-repeat:no-repeat;
    background-position-y: center;
    background-position-x: 97%;
}
input[type="search"]:focus{
    background-image: none;
}
input[type="search"]:hover{
    background-image: none;
}
input[type="date"]{
    text-align: center;
    writing-mode:sideways-lr;
}

#check{
    display: inline-block;
}
p{
    margin: 0;
}
div#check > input{    
    width: 24px;
    height: 24px;
        
}
div#check > label{
    display: inline-block;
    vertical-align: super;    
}
div#enrollment > input{
    text-align: center;
    background: var(--field_bg);
}
.spaced_fields{
    position: relative;
    top: 119px;   
}
.increased_fields_margin{
    margin-top: 21px;
}
#check_bottom{
    margin-top: 59px;
}
div#section_2 >label{
    margin-top: 32px;
}
div#section_2 >input{
    margin-bottom: 32px;
}
input[id="worker"], input[id="enr_taken_by_user"]{
    color: var(--text);
}
input[id="owner"]{
    color: var(--button);
}
img{
    background-position: right;
}
.button{
    display: flex;
    justify-content: end;
}
.button > input{
    width: 69px;
    height: 40px;
    background-color: var(--button);
    border-radius: 4px;
    border-color: var(--button);
    border-width: 2px;
    color: #FFFFFF;
    text-align: center;
    vertical-align:super;
    margin-bottom: 20px;    
}































