body{
    background-color: #FBE4FF;
    font-family:'PT Sans', sans-serif;
    margin: 0;
    position: relative;
}
a{
    outline: none;
    text-decoration: none;
}
ul{
    list-style: none;
}
p{
    margin-top: 0;
    margin-bottom: 0;
}
.toTheTop{
    position: fixed;
    top: 550px;
    right: 10px;
    z-index: 1;    
}
.top-menu{
    background-color: #243B93;
    width: 100%;
    position: sticky;
    top: 0;
    overflow:auto;
    z-index: 2;
}
.top-menu-content{
    margin: 0 auto;
    width: 1320px;
    
}
.top-menu-logo{
    width: fit-content;
    display: inline-block;
    vertical-align: middle;
}
.menu-selectors {
    width: fit-content;
    display: inline-block;
    vertical-align: middle;
    margin-left: 158px;
}
.menu-text{
    color: #FFFFFF;
    padding-left: 0;
    font-size: 16px;
    font-weight: 700;
}
.menu-header{
    display: inline-block;
    width: 170px;
    text-align: center;
    vertical-align: middle;
}
.menu-header a{
    color: #FFFFFF;
}
.menu-header:hover{
    font-size: 18px;
}
.globe-logo{
    width: fit-content;
    display: inline-block;
    vertical-align: middle;
    margin-left: 42px;
}
.language{
    width: fit-content;
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
}
.title-1{
    background-color: #BFF0FF;
    height: 85px;
    width: 100%;
    font-size: 44px;
    font-weight: 400;
    font-style: italic;
}
.title-1-text{
    width: 1320px;
    height: 85px;
    margin: 0 auto;
    padding-top: 17px;    
}
.selection{
    background-color: #FFFFFF;
    width: 1320px;
    height: 57px;
    margin: 0 auto;
    margin-top: 30px;
    position: relative;
}
.selection-text{
    color: #0000009C;
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    padding-top: 10px;
}
#pointer{
    position: absolute;
    right: 12px;
    top: 18px;
   
}
.main-content{
    width: 1320px;
    margin: 0 auto;
    margin-top: -10px;
}
.card{
    background: linear-gradient( 92.95deg, #ADCBD5 0%, #00AEE6 100%);
    width: 1320px;
    height: 300px;
    margin: 0 auto;
    display: inline-block;
    margin-top: 42px;
    position: relative;
    box-shadow: 0 0 60 4;    
}
.card:hover{
    background:fixed #2CBDEB;
    box-shadow: 0px 0px 60px 4px #2CBDEB;;
}
.butom-1{
    /*border: solid blue 3px;*/
    font-size: 24px;
    font-weight: 400;
    background-color: #243B93;
    color: #FFFFFF;
    width: 250px;
    height: 50px;
    text-align: center;
    margin-top: 26px;
    line-height: 45px;
    border-radius: 30px;
}
a:hover .butom-1{
    background-color: #EF075B;
}
.card-butom{
    position: absolute;
    right: -33px;
    bottom: 11px;
}
.star{
    position: absolute;
    right: 10px;
    top: 6px;
}
.card:hover a .butom-1{
    background-color:#EF075B;
}
.card:hover .star{
    content:url(./images/зірка1.png);    
}
.picture{
    width: 35%;
    display: inline-block;
    vertical-align: top;
    margin-top: 33px;
    margin-left: 52px;
}
.picture-descr{
    width: 739px;
    display: inline-block;
    vertical-align: top;
    /*margin-top: 19px;
    margin-left: 10px;*/
}
.picture-descr-title{
    font-size: 36px;
    font-weight: 700;
    font-style: italic;
    width: 100%;
    display: inline-block;
    border-bottom: 3px solid #fff;
    margin-bottom: -3px;
    margin-top: 12px;
}
.picture-descr-text{
    background-color: #EDFBFF;
    width: 739px;
    height: 205px;
    font-size: 22px;
    font-weight: 400;    
}
.picture-descr-text div{
    padding-top: 13px;
    margin-left: 19px;
    margin-top: 19px;
}
.title-2{
    height: 85px;
    width: 100%;
    font-size: 44px;
    font-weight: 400;
    font-style: italic;
    background: linear-gradient(90deg, #FFE601 0%, #55D6FF 100%);
}
.title-2-text{
    width: 1320px;
    height: 85px;
    margin: 0 auto;
    padding-top: 17px;
    margin-top: 42px;
}
.personal{
    width: 1320px;
    margin: 0 auto;
    margin-top: 42px;
    height: 500px;
    background: linear-gradient(180deg, #859EFF 0%, rgba(105, 255, 210, 0.5) 100%);
}
.butoms{
    width: 250px;
    display: inline-block;
    vertical-align: top;
    margin-left: 148px;
    margin-top: 77px;   
}
.avatar{
    margin-top: 77px;
    width: 197px;
    margin: 0 auto;
    margin-bottom: 35px;
}
.personal-data{
    width: 712px;
    display: inline-block;
    vertical-align: top;
    font-size: 36px;
    font-weight: 700;
    color: #353C57;
    font-style: italic;
    margin-top: 3%;
    margin-left: 10%;   
}
.personal-data #noBorder{
    border-bottom:none
}
.personal-data ul{
    margin: 0;
    padding: 0;
}
.personal-data span{
    color: #353C57;
    font-size: 36px;
    font-weight: 400;
    font-style: italic;   
}
.personal-data li{
    border-bottom: solid #FFFFFF 3px;
    margin-top: 20px;
    padding-bottom: 15px;
}
.butom-2{
    font-size: 24px;
    font-weight: 400;
    background-color: #243B93;
    color: #FFFFFF;
    width: 174px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    margin-top: 19px;
    line-height: 50px;
    border-radius: 30px;
}
a:hover .butom-2{
    background-color: #EF075B;
}
.title-3{
    height: 85px;
    width: 100%;
    font-size: 44px;
    font-weight: 400;
    font-style: italic;
    background: linear-gradient(90deg, #54D6FF 0%, #FFE600 100%);
}
.title-3-text{
    width: 1320px;
    height: 85px;
    margin: 0 auto;
    padding-top: 17px;
    margin-top: 42px;
}
.contacts{
    width: 1320px;
    margin: 0 auto;
    margin-top: 25px;
    font-size: 30px;
    font-weight: 400;
    color: #000000;    
}
.contacts a{
    color: #000000;
}
.contacts #border{
border-top: solid #202846 3px;
}
.contacts ul{
    padding: 0;
    margin: 0;
}
.contacts-text-1{
    width: fit-content;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    margin-right: 56px;    
}
#border{
    width: fit-content;
    margin-top: 6px;
    padding-top: 7px;
    margin-bottom: 20px;
}
.map{
    width: 499px;
    height: 290px;
    display: inline-block;
    vertical-align: top;
    border: solid #243B93 3px;
    border-radius: 40px;
    overflow: hidden;
    margin-left: 40px;
}
.footer{
    background-color: #243B93;
    width: 100vw;
    height: 65px;
    margin-top: 28px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
}
.footer div{
    width: 1320px;
    margin: 0 auto;
    padding-top: 23px;
}